/*
Hilary Hastings, April 2015, styling.
*/
*{
/*remove default margins and padding to ensure site looks the same across different browsers*/
	margin: 0;
	padding: 0;
}

/* styling for HTML elements.*/
body 
{
font-family: verdana;
font-size: 12px;
/*background-color: #CCCCCC;*/
color: #1c3f95;
text-align: left;
}

img
{
vertical-align:text-top;
}

ul
{
	padding-top: 0;
	padding-left: 10px;
}

li
{
	margin-left: 5px;
}

legend
{
	font-family: verdana;
	font-size: 12px;
	color: #1c3f95;
	text-align: right;
	padding-top: 20px;
	font-weight: bold;
	margin-left: 0;
}

fieldset
{
	width: 600px;
	border :1px solid #1c3f95;
	border: none;
	margin-left: 50px;
	/*padding: 10px;*/
}

fieldset:p {
	display:block;
	float:left;
	width:100px;
}

input:focus
{
/*highlight input area for user*/
	background-color: #D1E0FF;
}

input
{
	border :1px solid #6699FF;
	/*rounded corners*/
	border-radius: 5px;
	/*shadow effect*/
	box-shadow: 5px 5px 5px #888888;
	padding: 5px;
}

textarea:focus
{
	background-color: #D1E0FF;
}

label
{
	text-align: right;
	vertical-align: top;
	width: 80px;
}


textarea
{
	/*padding-left: 15px;*/
	margin-top: 5px;
	border :1px solid #6699FF;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #888888;
	margin-right: 25px;
	margin-bottom: 10px;
}

td
{
	border :1px solid #99B8CC;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #99B8CC;
	vertical-align: text-top;
	padding :10px;
	text-align: left;
}

th
{
	text-align :left;
	padding :5px 5px 5px 5px;
}

tr
{
	vertical-align :text-top;
}

/*styling for HTML element classes*/

.datetimecontainer
{
	position: relative;
	float: left;
	width: 300px;
	padding: 10px;
	margin: 0 auto;
	clear: both;
}

.container
{
	position: relative;
	float: left;
	width: 940px;
	margin: 0 auto;
}

.innerContainer
{
	position: relative;
	float: left;
	width: 940px;
}

.header{
	height: 68px;
	position: relative;
	float: left;
	width: 940px;
	background-image: url(images/AssignmentTextBar.jpg);
	background-repeat: no-repeat;
	clear:both;
}

.navigation
{
	height: 40px;
	position: relative;
	width: 940px;
	background-image: url(images/AssignmentNavigation.jpg);
	background-repeat: repeat-x;
	clear:both;
}

.navmenu
{
	height: 30px;
	width: 940px;
	clear:both;
}

.linkbox
{
	width: 80px;
	position: relative;
	margin-left: 10px;
	float: right;
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;

}

.lower
{
	margin-left: 50px;
}
.banner
{
	height: 200px;
	position: relative;
	width: 940px;
	margin-top: 50px;
	background-image: url(images/SistechBanner.jpg);
	background-size: 955px 200px;
	background-repeat: no-repeat;
	clear:both;
}

.contentcontainer
{
	position: relative;
	float: middle;
	width: 940px;
	overflow: hidden;
	background-image: url(images/AssignmentBackground.jpg);
}

.blurbcontainerleft
{
	width: 460px;
	padding: 5px 5px 10px 5px;
	position: relative;
	float: left;
	border :1px solid #99B8CC;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #888888;
	overflow: scroll;
	text-align: left;
}

.blurbcontainerright
{
	width: 430px;
	padding: 5px 10px 10px 5px;
	position: relative;
	float: right;
	border :1px solid #99B8CC;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #888888;
	overflow: scroll;
	text-align: left;
	margin-left: 20px;
}

.blurbheader
{
	height: 20px;
	width: 450px;
	font-family: verdana;
	font-size: 16px;
	font-weight:bold;
	color: #1c3f95;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
}

.blurbheaderright
{
	font-family: verdana;
	font-size: 16px;
	font-weight:bold;
	color: #1c3f95;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
}

.blurbtext
{
	font-family: verdana;
	font-size: 11px;
	color: #1c3f95;
	margin-left: 10px;
}

.submitreset
{
	margin-left: 15px;
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	color: #1c3f95;
	background-color: #C2D6FF;
	text-align: left;
	border :2px solid #6699FF;
}

.footer
{
	padding-top: 20px;
	height: 200px;
	position: relative;
	float: left;
	width: 940px;
	text-align: left;
}

.footerright
{
	width: 430px;
	position: relative;
	float: right;
	text-align: right;
	font-family: verdana;
	font-size: 10px;
	color: #1c3f95;
}

/* styling for date and time entry widgets */
.ui-datepicker 
{
			background: #D1E0FF;
}

.ui-timepicker 
{
			background: #D1E0FF;
}

